main {
    min-height: 1900px;
}

#section-banner{
    min-height: 920px;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}

#section-banner img{
    height: 900px;
}

#section-cards{

  height: 1000px;

}

.example-card {
    max-width: 350px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
  }
  
  mat-grid-list {
    margin:10px 0px ;
  }

  mat-grid-tile{
    padding: 2px;
    border-radius: 30px;
  }

  mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: auto;  
    padding: 3px;
  }

  mat-card-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  mat-card img{
    height: 346px;
    width: 348px;
    border: 70px black;
  }

  
  mat-card{
    border: 1px solid grey;
    max-height: 477px;
    min-height: 477px;
  }

  mat-card-content{
    margin-bottom: 15px;
    font-size: 13px;  
    padding: 1px 15px 1px;
  }

